*{
    margin: 0px;
    padding: 0px;
}

/*--------------
        Fonts 
----------------*/ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500&family=Work+Sans&display=swap');

/* Font familt for all text */
body{
    font-family:sans-serif;
}
/*-------------------------------------------------------------------------------
*********** Common button title and description class for reuseable *********** 
----------------------------------------------------------------------------------*/
.common-button{
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 20px 25px;
    border: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
}
.common-title{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.common-description{
    color: #727272;
    font-weight: 400;
    font-size: 16px;
}

/* Header Design */
header{
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    justify-content: center;
}

/* Nav bar design */
nav{
    display: flex;
    width:1441px;
    justify-content: space-between;
    margin-top: 60px;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin-left: 60px;
    font-size: 18px;
    color:#424242 ;
}

/* Top banner style */
.banner{
    background-color: rgba(255, 144, 14, 0.1);
    display: flex;
    justify-content: center;
}
.top-container{
    width:1441px;
}
.top-container-details h1,p{
    text-align: center;
}
.top-container-details h1{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 64px;
    color: #131313;
}
.explore-btn{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.banner-container{
    margin: 50px;
}

/* main container design */
.main-container{
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center; 
}
.bottom-first-container{
    width: 1441px;
    /* background-color:antiquewhite; */
    display: flex;
    justify-content: center;
}
.bottom-first-container-leftside{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    margin-left: 70px;
    margin-top: 85px;
}
.bottom-first-container-rightside{
    margin-top: 287px;
    margin-left: 70px;
}
.quick-text{
    color: #727272;
}
.our-text{
    color: #131313;
}
.features-text{
    color: #FF900E;
}
.quicklist-info{
    text-align: left;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
} 

/* Bottom container style */
.bottom-container{
    /* background-color: aquamarine;    */
    /* display: flex;  */
    justify-content: center;
    display: flex;

}
.bottom-second-container{
    width: 1441px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
}
.bottom-second-container-lefttside{
    width: 586px;
}
.horizontal-line{
    margin-top: 169px;
    border-left: 5px solid #FF900E;
    margin-bottom: 24px;
}
.third-container-header-title{
    font-size: 45px;
    margin-left: 20px;
}
.description{
    margin-bottom: 30px;
    text-align: left;
}
.text-box{
    background-color: #FFFFFF;
    margin: 20px;
    padding: 30px 42px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.text-box-title{
    color: #131313;
    font-size: 20px;
    margin-bottom: 10px;
}
.text-box-description{
    color: #727272;
    font-size: 16px;
    text-align: left;
}
.architect-banner{
    margin-top: 130px;
}
.experince-box{
    background-color: #FF900E;
    position: absolute;
    padding: 46px 42px;
    left: 880px;
    top: 3100px;
    border-radius: 8px;
}
.experince-box h2{
    color: #FFFFFF;
    font-size: 65px;
    text-align: center;
}
.experince-box p{
    color: #FFFFFF;
    font-size: 25px;
    text-align: center;
}

/* Fact secction style */

.fact-section{
    display: flex;
    justify-content: center;
}
.fact-container{
    width: 1441px;
    /* background-color: greenyellow; */
}
.fact-container h3{
    margin-top: 130px;
    margin-bottom: 24px;
}

.fact-box-containers{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    
}
.fact-box{
    border: 1px solid #FF900E;
    border-radius: 8px;
    margin-right: 80px;
    padding: 45px 59px 35px 35px;
    transition: width 10s;
    
}
.fact-box:hover{
    width: 200px;
    background-color: coral;
}
.fact-box-details{
    text-align: center;
}

/* Sponsor section */
.sponsor-section{
    display: flex;
    justify-content: center;
}
.sponsor-container{
    margin-top: 170px; 
    width: 1441px;
    /* background-color: red; */
}
.sponsor-text{
    text-align: center;
    margin-bottom: 24px;
}
.sponsor-icon-container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
/* footer style */
footer{
    display: flex;
    justify-content: center;
}
.footer-container{
    width: 1441px;
    border-radius: 8px;
    background-color: #FFF4E7;
    margin: 130px;
}
.footer-text{
    text-align: center;
    color: #424242;
    font-size: 20px;
    padding:38px 80px;
}
@media screen and (max-width:576px) {
    /* Nav bar responsive */
    nav{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    nav ul{
        display: grid;
     /* grid-template-columns: repeat(1,1fr);  */
        flex-direction: row;
    }
    nav ul li{
        margin: 20px;
    }

    /* banner image responsive */
    .banner img{
        width:100%;
    }

    /* main section first part */
    .bottom-first-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .bottom-first-container-leftside{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin:20px;
     }
    .bottom-first-container-rightside{
        margin-top: 20px;
    }
    .quicklist-info{
        text-align:left;
        width: 80%;
    } 

    /* Architects */
    .bottom-second-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .architect-banner img{
        margin-top: -130px;
        width: 100%;
    }
    .bottom-second-container-lefttside{
        width: 100%; 
    }
    .experince-box{
    background-color: #FF900E;
    position: absolute;
    padding: 5px 10px;
    left:0px;
    top: 4894px;
    border-radius: 8px;
    } 

    /* some fact section responsive */
    .fact-box-containers{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 20px;
        margin-left: 80px;
    }
    .fact-box{
        border: 1px solid #FF900E;
        border-radius: 8px;
        margin-right: 80px;
        padding: 10px 10px 15px 15px;
        transition: width 10s; 
    }
    .fact-box:hover{
        width: 200px;
        background-color: coral;
    }

    /* sponsor icon responsive */
    .sponsor-icon-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 10px;
    }
} 


